Xamarin.Rtsp.Lib/bin/
Xamarin.Rtsp.Lib/obj/
Xamarin.Rtsp.Android/bin/
Xamarin.Rtsp/Xamarin.Rtsp.Android/bin/
Xamarin.Rtsp/Xamarin.Rtsp.Android/obj/
Xamarin.Rtsp/Xamarin.Rtsp.iOS/bin/
Xamarin.Rtsp/Xamarin.Rtsp.iOS/obj/
Xamarin.Rtsp/Xamarin.Rtsp/obj/
Xamarin.Rtsp/Xamarin.Rtsp/bin/
